html {
  font-family: "Satoshi", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2 {
  color: #000000; }

p, li {
  color: #1D1D1F; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px; }
  main .title {
    text-align: center;
    margin-top: 48px;
    font-weight: 700;
    font-size: 32px;
    line-height: 35.2px; }
  main .img-container {
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 450px;
    background-image: url(../Image/background-mobile.png);
    margin-bottom: 24px; }
  main .information {
    width: 279px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px; }
    @media (min-width: 414px) {
      main .information {
        width: 100%; } }
    @media (min-width: 414px) {
      main .information .text {
        display: none; } }
    main .information .text2 {
      display: none; }
      @media (min-width: 414px) {
        main .information .text2 {
          display: inline-block; } }

section {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 28.5px;
  margin-right: 28.5px; }
  @media (min-width: 500px) {
    section {
      width: 55%;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 60px; } }

.subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 34.56px;
  margin-bottom: 40px; }

.contenedor-icons {
  display: flex;
  padding-bottom: 8px;
  margin-top: 24px;
  justify-content: space-between;
  border-bottom-width: 1.4px;
  border-bottom-style: solid;
  border-bottom-color: #f2f2f7; }
  .contenedor-icons .title-items {
    font-weight: 500;
    font-size: 17px; }
  .contenedor-icons .icons {
    display: flex;
    justify-content: space-between;
    width: 50px;
    align-items: center; }

ul {
  list-style-type: none;
  margin-top: 16px; }
  ul .item {
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 8px; }
    ul .item .weight {
      font-weight: 500; }
