* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Satoshi", sans-serif; }

h1, h2 {
  color: #000000; }

p, li {
  color: #1D1D1F; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px; }
  @media (min-width: 735px) {
    main {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 810px) and (max-width: 1068px) {
    main {
      width: 810px;
      margin: 0 auto; } }
  @media (min-width: 1069px) {
    main {
      width: 100%;
      margin: 0 auto; } }
  @media (min-width: 1140px) {
    main {
      width: 1140px;
      margin: 0 auto; } }
  main .container-title {
    margin-top: 48px; }
    @media (min-width: 735px) {
      main .container-title {
        margin-top: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        position: absolute;
        margin-top: 40px;
        margin-bottom: 32px; } }
    @media (min-width: 810px) {
      main .container-title {
        width: 810px; } }
    @media (min-width: 1240px) {
      main .container-title {
        width: 75%; } }
    main .container-title .title {
      font-weight: 700;
      font-size: 32px; }
      @media (min-width: 735px) {
        main .container-title .title {
          color: #1D1D1F; } }
      @media (min-width: 735px) and (max-width: 1068px) {
        main .container-title .title {
          font-size: 28px; } }
      @media (min-width: 1069px) {
        main .container-title .title {
          font-size: 30px; } }
      main .container-title .title .title-tech {
        display: none; }
        @media (min-width: 735px) {
          main .container-title .title .title-tech {
            display: inline-block;
            padding-left: 20px;
            color: #C5C5C7; } }
        @media (min-width: 1069px) {
          main .container-title .title .title-tech {
            padding-left: 32px; } }
  main .img-container {
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 400px;
    background-image: url(../Image/background-mobile.png);
    margin-bottom: 24px; }
    @media (min-width: 735px) {
      main .img-container {
        background-image: url(../Image/background.png);
        height: 600px;
        margin-bottom: 80px;
        width: 100%; } }
    main .img-container ul {
      display: none; }
      @media (min-width: 735px) {
        main .img-container ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          padding: 20px;
          position: absolute;
          margin-top: 150px; } }
      @media (min-width: 1069px) {
        main .img-container ul {
          height: 300px;
          width: 513px;
          margin-top: 200px; } }
      @media (min-width: 1300px) {
        main .img-container ul {
          margin-left: 30px; } }
      @media (min-width: 1069px) {
        main .img-container ul .container-filas {
          display: flex;
          flex-direction: row; } }
      main .img-container ul .container-filas .fila1, main .img-container ul .container-filas .fila2 {
        display: flex;
        flex-direction: column; }
      main .img-container ul .container-filas .fila2 {
        display: flex;
        flex-direction: column; }
        @media (min-width: 1069px) {
          main .img-container ul .container-filas .fila2 {
            margin-left: 10px; } }
      main .img-container ul .item-icon {
        font-size: 16px;
        font-weight: 500;
        width: 80%;
        margin: 10px;
        margin-left: 50px;
        display: flex;
        flex-direction: row;
        align-items: center; }
        @media (min-width: 1069px) {
          main .img-container ul .item-icon {
            margin-bottom: 40px; } }
        main .img-container ul .item-icon .redondo {
          border-color: #C5C5C7;
          border-radius: 50%;
          border-style: solid;
          padding: 10px; }
        main .img-container ul .item-icon li {
          padding-left: 20px; }
          @media (min-width: 1069px) {
            main .img-container ul .item-icon li {
              padding-left: 10px; } }
  main .information {
    width: 280px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px; }
    @media (min-width: 414px) {
      main .information {
        width: 100%; } }
    @media (min-width: 735px) {
      main .information {
        display: none; } }
    @media (min-width: 414px) {
      main .information .text {
        display: none; } }
    main .information .text2 {
      display: none; }
      @media (min-width: 414px) {
        main .information .text2 {
          display: inline-block; } }

.check {
  background-color: #FF5640;
  border-radius: 50%;
  padding: 5px;
  float: right;
  position: relative;
  z-index: 1; }

.hover {
  background-color: white; }
  .hover path {
    border-color: white;
    fill: #FF5640; }

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-left: 28.5px;
  margin-right: 28.5px; }
  @media (min-width: 600px) {
    section {
      width: 50%;
      margin: 0 auto; } }
  @media (min-width: 735px) {
    section {
      display: none;
      width: 100%;
      margin-bottom: 80px; } }
  @media (min-width: 810px) {
    section {
      width: 810px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
      margin-bottom: 80px; } }
  @media (min-width: 1069px) {
    section {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 80px; } }
  @media (min-width: 1140px) {
    section {
      width: 1140px;
      margin: 0 auto;
      margin-bottom: 80px; } }
  section .container-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 60px; }
    @media (min-width: 735px) {
      section .container-subtitle {
        margin-top: 40px;
        margin-bottom: 40px;
        flex-direction: row; } }
  section .subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 34.56px; }
    @media (min-width: 735px) and (max-width: 1068px) {
      section .subtitle {
        font-size: 28px; } }
    @media (min-width: 1068px) {
      section .subtitle {
        font-size: 30px; } }
    section .subtitle .subtitle-box {
      display: none; }
      @media (min-width: 735px) {
        section .subtitle .subtitle-box {
          display: inline-block;
          padding-right: 20px;
          color: #C5C5C7; } }
      @media (min-width: 1069px) {
        section .subtitle .subtitle-box {
          padding-right: 32px; } }
  @media (min-width: 735px) {
    section .contenedor-details {
      display: flex;
      justify-content: center;
      margin: 0 auto; } }
  @media (min-width: 735px) {
    section .contenedor-details .right-margin {
      margin-right: 32px; } }
  @media (min-width: 1069px) {
    section .contenedor-details .right-margin {
      margin-right: 40px; } }
  section .contenedor-details .contenedor-lista {
    display: block;
    margin-top: 24px;
    justify-content: space-between; }
    @media (min-width: 735px) {
      section .contenedor-details .contenedor-lista {
        margin-top: 0; } }
    @media (min-width: 1240px) {
      section .contenedor-details .contenedor-lista {
        width: 255px; } }
    section .contenedor-details .contenedor-lista .contenedor-title-icons {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 8px;
      border-bottom-width: 1.4px;
      border-bottom-style: solid;
      border-bottom-color: #f2f2f7; }
      @media (min-width: 735px) {
        section .contenedor-details .contenedor-lista .contenedor-title-icons {
          padding-bottom: 10px;
          align-items: center;
          width: 149.75px; } }
      @media (min-width: 1069px) {
        section .contenedor-details .contenedor-lista .contenedor-title-icons {
          padding-bottom: 12px;
          align-items: center;
          width: 227.25px; } }
      section .contenedor-details .contenedor-lista .contenedor-title-icons .title-items {
        font-weight: 500;
        font-size: 17px; }
        @media (min-width: 735px) {
          section .contenedor-details .contenedor-lista .contenedor-title-icons .title-items {
            font-size: 20px; } }
        @media (min-width: 810px) and (max-width: 1068px) {
          section .contenedor-details .contenedor-lista .contenedor-title-icons .title-items {
            font-size: 18px;
            font-weight: 700; } }
        @media (min-width: 1069px) {
          section .contenedor-details .contenedor-lista .contenedor-title-icons .title-items {
            font-size: 20px; } }
    section .contenedor-details .contenedor-lista .contenedor-icons {
      display: flex;
      justify-content: space-between;
      width: 50px;
      align-items: center; }
      @media (min-width: 735px) {
        section .contenedor-details .contenedor-lista .contenedor-icons {
          justify-content: flex-end; } }
      @media (min-width: 735px) {
        section .contenedor-details .contenedor-lista .contenedor-icons .chevron {
          display: none; } }
    section .contenedor-details .contenedor-lista ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      list-style-type: none;
      margin-top: 16px; }
      @media (min-width: 735px) {
        section .contenedor-details .contenedor-lista ul {
          margin-top: 20px; } }
      @media (min-width: 1069px) {
        section .contenedor-details .contenedor-lista ul {
          margin-top: 24px; } }
      section .contenedor-details .contenedor-lista ul li {
        font-weight: 400;
        font-size: 12px;
        padding-bottom: 8px; }
        @media (min-width: 735px) {
          section .contenedor-details .contenedor-lista ul li {
            font-size: 15px;
            padding-bottom: 10px;
            width: 149.75px; } }
        @media (min-width: 810px) {
          section .contenedor-details .contenedor-lista ul li {
            width: 178px; } }
        @media (min-width: 1069px) {
          section .contenedor-details .contenedor-lista ul li {
            width: 227.75px;
            font-size: 16px;
            padding-bottom: 12px; } }
        section .contenedor-details .contenedor-lista ul li .weight {
          font-weight: 500; }

.contenedor-lista1 {
  order: 1; }

.contenedor-lista2 {
  order: 2; }
  @media (min-width: 735px) {
    .contenedor-lista2 {
      order: 3; } }

.contenedor-lista3 {
  order: 3; }
  @media (min-width: 735px) {
    .contenedor-lista3 {
      order: 2; } }

.contenedor-lista4 {
  order: 4; }

.icon-arrow {
  display: none; }
  @media (min-width: 735px) {
    .icon-arrow {
      display: flex; } }
