// Estilos de main
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    //Media query para tablet
    @media (min-width: 735px){
      /*   display: block; */
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 20px;
    }

    //Contenedor de títulos
    .container-title{
        margin-top: 48px;
        @media (min-width: 735px){
            margin-top: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            position: absolute;
            margin-top: 40px;
            margin-bottom: 32px;
        }
        
        //Estilo título principal
        .title{
            font-weight: 700;
            font-size: 32px;
            //Media Query de título para Tablet
            @media(min-width: 735px){
                color: $color1;
            }
            
            //Estilo segundo título
            .title-tech{
                display: none;
                @media(min-width: 735px){
                    display: inline-block;
                    padding-left: 20px;
                    color: #C5C5C7;
               }
            }
        }         
    }    

    .img-container{
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 400px;
        background-image: url(../Image/background-mobile.png);
        margin-bottom: 24px;
        @media (min-width: 735px){
        background-image: url(../Image/background.png);
        height: 600px;   
        margin-bottom: 80px; 
        }

            .lista-box{
                display: none;
                @media (min-width: 735px){
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    padding: 30px;
                    height: 435px;
                    width: 300px;
                    position: absolute;
                    margin-top: 120px;    
                }

                    .container-filas{
                       /*  width: 100vw; */
                        @media (min-width:1069px){
                            display: flex;
                            flex-direction: row;    
                        }
                    }
                
                    .item-icon{
                        font-size: 16px;
                        font-weight: 500;
                        width: 80%;
                        margin: 15px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        @media (min-width: 1069px){
                            width: 25vw;
                        }

                            .redondo{
                                border-color: #C5C5C7;
                                border-radius: 50%;
                                border-style: solid;
                                padding: 10px;
                            }

                            li{
                                padding-left: 20px;
                                @media (min-width: 1069px) {
                                    padding-left: 10px;        
                                }
                            }
                    }
                }
    }

    .information{
        width: 280px;
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 32px; 
        padding-left: 16px;
        padding-right: 16px;
        @media (min-width: 414px){
            width: 100%;
        }
        @media (min-width: 735px){
            display: none;
        }

            .text{
                @media (min-width: 414px){
                    display: none;
                }
            }

            .text2{
                display: none;
                @media (min-width: 414px){
                    display: inline-block;
                }
            }
    }
}


section{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-left: 28.5px;
    margin-right: 28.5px;
    @media (min-width: 500px) {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    @media (min-width: 735px) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

        .container-subtitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            margin-bottom: 40px;
            margin-top: 60px;
            @media(min-width:735px){
                margin-top: 40px;
                margin-bottom: 40px;
                flex-direction: row;
            }
        }

        .subtitle{
            text-align: center;
            font-weight: 700;
            font-size: 32px;
            line-height: 34.56px;
           @media(min-width:735px){
                font-size: 28px;
            }

                .subtitle-box{
                    display: none;
                    @media(min-width:735px){
                        display: inline-block;
                        padding-right: 20px;
                        color: #C5C5C7;
                    }
                }
        }

        .contenedor-details{
            @media(min-width: 735px){
                display: flex;
                justify-content: space-between;
            }

                .right-margin{
                    @media(min-width:735px){
                        margin-right: 32px;
                    }
                }

                .contenedor-lista{
                    display: block;
                    margin-top: 24px;
                    justify-content: space-between;
                    @media (min-width: 735px) {
                        margin-top: 0;
                    }

                        .contenedor-title-icons{
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: space-between;
                            padding-bottom: 8px;
                            border-bottom-width: 1.4px;
                            border-bottom-style: solid;
                            border-bottom-color: #f2f2f7;
                            @media (min-width: 735px) {
                                padding-bottom: 10px;
                                align-items: center;
                                width: 149.75px;
                            }

                                .title-items{
                                    font-weight: 500;
                                    font-size: 17px; 
                                    @media(min-width:735px){
                                        font-size: 20px;
                                    } 
                                }

                                .lights{
                                    @media(min-width:735px){
                                        width: 15vw;
                                    }
                                }
                        }

                            .contenedor-icons{
                                display: flex;
                                justify-content: space-between;
                                width: 50px;
                                align-items: center;
                                @media (min-width:735px){
                                    justify-content: flex-end;
                                }

                                    .chevron{
                                        @media (min-width:735px){
                                            display: none;
                                        }
                                    }
                            }

                    .lista {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        list-style-type: none;
                        margin-top: 16px;
                        @media (min-width: 735px){
                            margin-top: 20px;
                        }

                        .item{
                            font-weight: 400;
                            font-size: 12px;
                            padding-bottom: 8px;
                            @media (min-width: 735px){
                                font-size: 15px;
                                padding-bottom: 10px;
                                width: 20vw;
                            }

                            .weight{
                                font-weight: 500;
                            }
                    }
            }

        }
    }
}

//Orden de contenedor para cada lista 
.contenedor-lista1{
    order: 1;
}

.contenedor-lista2{
    order: 2;
    @media (min-width:735px) {
        order: 3;
    }
}

.contenedor-lista3{
    order: 3;
    @media (min-width:735px) {
        order: 2;
    }
}

.contenedor-lista4{
    order: 4;
}

//Ícono de flechas en título y subtítulo
.icon-arrow{
    display: none;
    @media(min-width:735px){
        display: flex;
    }
}  