//Estilos segunda sección
section{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-left: 28.5px;
    margin-right: 28.5px;
    overflow-x: hidden;
    @media (min-width: 500px) {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    //Media query Tablet
    @media (min-width: 735px) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 80px;
    }
    @media(min-width:810px){
        width: 810px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    //Media query Desktop
    @media(min-width:1069px){
        width: 100%;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    @media(min-width:1140px){
        width: 1140px;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    //Contenedor subtítulo
        .container-subtitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            margin-bottom: 40px;
            margin-top: 60px;
            //Media query tablet
            @media(min-width:735px){
                margin-top: 40px;
                margin-bottom: 40px;
                flex-direction: row;
            }
        }

        //Estilo subtítulo
        .subtitle{
            text-align: center;
            font-weight: 700;
            font-size: 32px;
            line-height: 34.56px;
            //Media query Tablet
           @media(min-width:735px) and (max-width:1068px){
                font-size: 28px;
            }
            //Media query Desktop
            @media (min-width:1068px){
                font-size: 30px;    
            }

            //Subtítulo vista Tablet (se agrega una segunda línea de texto)
                .subtitle-box{
                    display: none;
                    @media(min-width:735px){
                        display: inline-block;
                        padding-right: 20px;
                        color: #C5C5C7;
                    }
                    @media(min-width:1069px){
                        padding-right: 32px;
                    }
                }
        }

        //Contenedor de todas las listas
        .contenedor-details{
            @media(min-width: 735px){
                display: flex;
                justify-content: center;
                margin: 0 auto;
            }

            //Margen derecho para separar listas
                .right-margin{
                    //Media query tablet
                    @media(min-width:735px){
                        margin-right: 32px;
                    }
                    //Media query Desktop
                    @media(min-width:1069px){
                        margin-right: 40px;
                    }
                }

                //Contenedor de cada una de las listas
                .contenedor-lista{
                    display: block;
                    margin-top: 24px;
                    justify-content: space-between;
                    //Media query tablet
                    @media (min-width: 735px) {
                        margin-top: 0;
                    }
                    //Media query Desktop
                    @media (min-width: 1240px) {
                        width: 255px;
                    }

                        //Contenedor de títulos e íconos
                        .contenedor-title-icons{
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: space-between;
                            padding-bottom: 8px;
                            border-bottom-width: 1.4px;
                            border-bottom-style: solid;
                            border-bottom-color: #f2f2f7;
                            //Media query Tablet
                            @media (min-width: 735px) {
                                padding-bottom: 10px;
                                align-items: center;
                                width: 149.75px;
                            }
                            //Media query Desktop
                            @media (min-width: 1069px) {
                                padding-bottom: 12px;
                                align-items: center;
                                width: 227.25px;
                            }

                                //Título de los ítems dentro de las listas
                                .title-items{
                                    font-weight: 500;
                                    font-size: 17px; 
                                    //Media queries Tablet
                                    @media(min-width:735px){
                                        font-size: 20px;
                                    }
                                    @media (min-width: 810px) and (max-width:1068px){
                                        font-size: 18px;
                                        font-weight: 700;
                                    }
                                    //Media query Desktop
                                    @media(min-width:1069px){
                                        font-size: 20px;
                                    }  
                                }
                        }

                            //Contenedor de los íconos
                            .contenedor-icons{
                                display: flex;
                                justify-content: space-between;
                                width: 50px;
                                align-items: center;
                                //Media query Tablet
                                @media (min-width:735px){
                                    justify-content: flex-end;
                                }

                                    //Estilo de ícono chevron
                                    .chevron{
                                        @media (min-width:735px){
                                            display: none;
                                        }
                                    }
                            }

                    //Estilo de cada lista
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        list-style-type: none;
                        margin-top: 16px;
                        //Media query Tablet
                        @media (min-width: 735px){
                            margin-top: 20px;
                        }
                        //Media query Desktop
                        @media (min-width: 1069px){
                            margin-top: 24px;
                        }

                        //Cada elemento dentro de la lista
                        li{
                            font-weight: 400;
                            font-size: 12px;
                            padding-bottom: 8px;
                            //Media queries Tablet
                            @media (min-width: 735px){
                                font-size: 15px;
                                padding-bottom: 10px;
                                width: 149.75px;
                            }
                            @media(min-width:810px){
                                width: 178px;
                            }
                            //Media query Desktop
                            @media (min-width: 1069px){
                                width: 227.75px;
                                font-size: 16px;
                                padding-bottom: 12px;
                            }

                            //Estilo negrita
                            .weight{
                                font-weight: 500;
                            }
                    }
            }

        }
    }
}

//Orden de contenedor para cada lista 
.contenedor-lista1{
    order: 1;
}

.contenedor-lista2{
    order: 2;
    //Media query a partir Tablet
    @media (min-width:735px) {
        order: 3;
    }
}

.contenedor-lista3{
    order: 3;
    //Media query a partir de Tablet
    @media (min-width:735px) {
        order: 2;
    }
}

.contenedor-lista4{
    order: 4;
}

//Ícono de flechas en título y subtítulo
.icon-arrow{
    display: none;
    @media(min-width:735px){
        display: flex;
    }
}